.message {
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 0;
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 15px;
}

.message.you {
  background-color: #d1e7dd;
  color: #0f5132;
  align-self: flex-end;
}

.message.other {
  background-color: #e2e3e5;
  color: #41464b;
  align-self: flex-start;
}
body {
  background-image: url("emirkara");
  background-size: cover;
  background-position: center;
}
